<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" href="styles.css">
	<title>MVP for the logger</title>
</head>
<body>
	<div class="container">
		<h1>KQ delivery logger</h1>
		<form method="post">
			<div class="row mb-3">
  			<div class="col">
					<label for="time_in" class="form-label">Time in</label>
					<div class="input-group">
						<input type="datetime-local" class="form-control" id="time_in" name="time_in">
						<button class="btn btn-primary" type="button" id="now_in">Now</button>
					</div>
  			</div>
				<div class="col">
					<label for="time_out" class="form-label">Time out</label>
					<div class="input-group">
						<input type="datetime-local" class="form-control" id="time_out" name="time_out">
						<button class="btn btn-primary" type="button" id="now_out">Now</button>
					</div>
  			</div>
			</div>
			<div class="mb-3">
				<label for="delivery_location" class="form-label">Delivery location</label>
				<select class="form-select" name="delivery-location" id="delivery_location">
	  			<option selected value="1">Loading bay 1</option>
	  			<option value="2">Loading bay 2</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="delay" class="form-label">Delay within vicinity of drop-off</label>
				<br>
				<input type="radio" class="btn-check" name="delay" id="none" value="none" checked>
				<label class="btn btn-outline-primary" for="none">None</label>
				<input type="radio" class="btn-check" name="delay" id="small" value="small">
				<label class="btn btn-outline-primary" for="small">0-5 minutes</label>
				<input type="radio" class="btn-check" name="delay" id="medium" value="medium">
				<label class="btn btn-outline-primary" for="medium">5-10 minutes</label>
				<input type="radio" class="btn-check" name="delay" id="large" value="large">
				<label class="btn btn-outline-primary" for="large">10+ minutes</label>
			</div>
			<div class="mb-3">
				<label for="bound" class="form-label">Inbound or outbound</label>
				<br>
				<input type="radio" class="btn-check" name="bound" id="inbound" checked>
				<label class="btn btn-outline-primary" for="inbound">Inbound</label>
				<input type="radio" class="btn-check" name="bound" id="outbound">
				<label class="btn btn-outline-primary" for="outbound">Outbound</label>
				<input type="radio" class="btn-check" name="bound" id="both">
				<label class="btn btn-outline-primary" for="both">Both</label>
			</div>
			<div class="mb-3">
				<label for="carrier" class="form-label">Carrier name</label>
				<select class="form-select" name="carrier" id="delay">
	  			<option selected value="UPS">UPS</option>
	  			<option value="Fed Ex">Fed Ex</option>
					<option value="Yodel">Yodel</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="bound" class="form-label">Vehicle type</label>
				<br>
				<input type="radio" class="btn-check" name="vehicle_type" id="pedestrian" value="pedestrian" checked>
				<label class="btn btn-outline-primary" for="pedestrian">Pedestrian</label>
				<input type="radio" class="btn-check" name="vehicle_type" id="bicycle" value="bicycle">
				<label class="btn btn-outline-primary" for="bicycle">Bicycle</label>
				<input type="radio" class="btn-check" name="vehicle_type" id="motorbike" value="motorbike">
				<label class="btn btn-outline-primary" for="motorbike">Motorbike</label>
				<input type="radio" class="btn-check" name="vehicle_type" id="car" value="car">
				<label class="btn btn-outline-primary" for="car">Car</label>
				<input type="radio" class="btn-check" name="vehicle_type" id="van" value="van">
				<label class="btn btn-outline-primary" for="van">Van</label>
				<input type="radio" class="btn-check" name="vehicle_type" id="lorry" value="lorry">
				<label class="btn btn-outline-primary" for="lorry">Lorry</label>
			</div>
			<div class="mb-3">
				<label for="vehicle_registration_number" class="form-label">Vehicle registration number</label>
		  	<input type="text" id="vehicle_registration_number" class="form-control">
			</div>
			<div class="mb-3">
				<input class="form-check-input" type="checkbox" id="personal_delivery" name="personal_delivery">
  			<label class="form-check-label" for="personal_delivery">Personal delivery</label>
			</div>
			<div class="mb-3">
				<label for="department" class="form-label">Department delivering to</label>
				<select class="form-select" name="department" id="department">
	  			<option selected value="IT">IT department</option>
	  			<option value="sales">Sales</option>
					<option value="research">Research</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="number_packages" class="form-label">Number of packages</label>
				<input type="number" id="number_packages" min="0" class="form-control">
			</div>
			<div class="mb-3">
				<label for="type" class="form-label">Type of goods</label>
				<select class="form-select" name="type" id="type">
	  			<option selected value="office">Office supplies</option>
	  			<option value="cleaning">Cleaning supplies</option>
					<option value="catering">Catering</option>
					<option value="medical">Medical supplies</option>
					<option value="IT">IT supplies</option>
					<option value="post">Post and courier</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="size" class="form-label">Size of goods</label>
				<br>
				<input type="radio" class="btn-check" name="size" id="letter" value="letter" checked>
				<label class="btn btn-outline-primary" for="letter">Letter</label>
				<input type="radio" class="btn-check" name="size" id="package" value="package">
				<label class="btn btn-outline-primary" for="package">Package</label>
				<input type="radio" class="btn-check" name="size" id="box" value="box">
				<label class="btn btn-outline-primary" for="box">Box</label>
				<input type="radio" class="btn-check" name="size" id="crate" value="crate">
				<label class="btn btn-outline-primary" for="crate">Crate</label>
				<input type="radio" class="btn-check" name="size" id="pallet" value="pallet">
				<label class="btn btn-outline-primary" for="pallet">Pallet</label>
			</div>
	  	<button type="submit" class="btn btn-primary btn-lg">Submit</button>
			<button class="btn btn-outline-secondary btn-lg">Cancel</button>
		</form>
	</div>
</body>
</html>
