<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>MVP for the logger</title>
</head>
<body>
	<h1> MVP for the logger </h1>
	<p> Input info here </p>
	<form method="post">
  		<label for="timein">Time in:</label>
		<input type="text" id="timein" name="timein"><br><br>
  		<label for="timeout">Time out:</label>
  		<input type="text" id="timeout" name="timeout"><br><br>
		<label for="ploc">Parking location:</label>
		<input type="text" id="ploc" name="ploc"><br><br>
  		<label for="delay">Delay :</label>
  		<input type="text" id="delay" name="delay"><br><br>
		<label for="inbound">Inbound or Outbound:</label>
		<input type="text" id="inbound" name="inbound"><br><br>
  		<label for="cname">Carrier Name:</label>
  		<input type="text" id="cname" name="cname"><br><br>
		<label for="vehic">Vehicle type:</label>
		<input type="text" id="vehic" name="vehic"><br><br>
  		<label for="vehicnum">Vehicle registration number:</label>
  		<input type="text" id="vehicnum" name="vehicnum"><br><br>
		<label for="fuel">Fuel type:</label>
		<input type="text" id="fuel" name="fuel"><br><br>
  		<label for="vehicori">Vehicle origin:</label>
  		<input type="text" id="vehicori" name="vehicori"><br><br>
		<label for="prev">Number of previous drop-off location:</label>
		<input type="text" id="prev" name="prev"><br><br>
  		<label for="foll">Number of following drop-off location:</label>
  		<input type="text" id="foll" name="foll"><br><br>
		<label for="dep">Department delivering to:</label>
		<input type="text" id="dep" name="dep"><br><br>
  		<label for="nsupp">Number of suppliers the pacjage comes frome:</label>
  		<input type="text" id="nsupp" name="nsupp"><br><br>
		<label for="goods">Type of goods:</label>
		<input type="text" id="goods" name="goods"><br><br>
  		<label for="size">Size of goods:</label>
  		<input type="text" id="size" name="size"><br><br>
  		<input type="submit" value="Submit">
	</form>
</body>
</html>